body {
  /*background: url(../img/background.png);*/
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #42729B;
  color: white;
  /*padding-right: 50px;*/
}

nav {
  background-color: #42729B;
  box-shadow: none;
}

.brand-logo {
  margin-top: 3vh;
  margin-left: 10vh;
}

.description {
  margin-top: 5vh;
}
.app-description-container {
  margin-top: 10vh;
  margin-bottom: 15vh;
}

h1 {
  font-family: 'Nixie One';
  /*float: right;*/
/*  font-size: 100px;*/
  text-align: center;
  font-weight: bolder;
  /*color: #e76b6b;*/
}

h3 {
  font-family: 'Open Sans';
  /*clear: right;*/
  /*float: right;*/
  font-size: 25px;
  text-align: center;
  /*margin-top: 10px;*/
  /*color: #e76b6b;*/
  /*margin-right: 80px;*/
}


h2 {
  font-family: 'Open Sans';
  /*clear: right;*/
  /*float: right;*/
  font-size: 25px;
  text-align: center;
  /*margin-top: 30px;*/
  /*color: #e76b6b;*/
/*  margin-right: 80px;*/
}

.icons {
/*  clear: right;
  float: right;
  margin-right: 225px;
  display: block;*/
  text-align: center;
}

.social {
  padding: 10px 10px 10px 10px;
  text-align: center;
}

.appstore {
/*  clear: right;
  float: right;
  margin-left: 50px;
  display: block;
  margin-right: 170px;*/
  text-align: center;
}

.safety-icon {

}

.safety-icons {
  text-align: center;
}

.safety-icons-description {
  /*background-color: white;*/
  text-align: center;
}
