body {
  /*background: url(../img/background.png);*/
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #42729B;
  /*padding-right: 50px;*/
}

nav {
  background-color: #9DA2A5;
}

.description {
  margin-top: 150px;
}

h1 {
  font-family: 'Nixie One';
  /*float: right;*/
/*  font-size: 100px;*/
  text-align: center;
  font-weight: bolder;
  color: #e76b6b;
}

h3 {
  font-family: 'Open Sans';
  /*clear: right;*/
  /*float: right;*/
  font-size: 25px;
  text-align: center;
  /*margin-top: 10px;*/
  color: #e76b6b;
  /*margin-right: 80px;*/
}


h2 {
  font-family: 'Open Sans';
  /*clear: right;*/
  /*float: right;*/
  font-size: 25px;
  text-align: center;
  /*margin-top: 30px;*/
  color: #e76b6b;
/*  margin-right: 80px;*/
}

.icons {
/*  clear: right;
  float: right;
  margin-right: 225px;
  display: block;*/
  text-align: center;
}

.social {
  padding: 10px 10px 10px 10px;
  text-align: center;
}

.appstore {
/*  clear: right;
  float: right;
  margin-left: 50px;
  display: block;
  margin-right: 170px;*/
  text-align: center;
}

